body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: #007bff;
    color: white;
    border: none;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
